* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Isso garante que a altura mínima seja 100% da altura da janela */
  }
  
  .home-container {
    background-color: #e73434;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .historico-container {
    margin-top: 20px;
    text-align: left;
  }
  
  .solicitacao {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .solicitacao h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  .solicitacao p {
    margin: 5px 0;
    font-size: 1.1em;
  }
  
  .home-option {
    display: inline-block;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .home-option:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  